* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font: 13px Helvetica, Arial;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

form {
  background: #000;
  padding: 3px;
  width: 100%;

  flex-shrink: 0;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;

  flex: 1 1 auto;
  overflow-y: auto;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
